 body {
    background: #fff6a5;
    padding: 0 auto;
    margin: 0 auto;
    height:100vh;
}
/*
.box {
    position: relative;
    cursor: move;
} */

.container{
    width:100%;
    height:100vh;
    background:#fff6a5;
    position:relative;
    overflow:hidden;
}

.container .box, .container .box2{ 
    background: linear-gradient(120deg, #b6a9ff,#4043f3 );
    box-shadow: 6px 5px 7px #c9c6a5b4;
    border-radius: 10px;
   
    width: 8em;
    height: 8em;
    left:50px;
    top:50px;
    position:absolute;
    cursor:move;
}
.container .box2 {
    background: linear-gradient(120deg, #a9ffad,#40f367 );
    box-shadow: 6px 5px 7px #c9c6a5b4;
    border-radius: 10px;
   
    width: 8em;
    height: 8em;
    left:350px;
    top:150px;
    position:absolute;
    cursor:move;
}
