@function rem($size) {
    @return $size / 16px * 1rem;
}

:root {
    --text_default_color: white;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 49, 70);
}

main {
    max-width: rem(400px);
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
}

.rectangle {
    background-color: rgb(238, 238, 118);
    font-size: rem(18px);
    padding: rem(25px);
    border-radius: rem(5px);
    box-shadow: rem(9px) rem(8px) rem(9px) #0000003d;
    font-family: cursive;
    position: relative;
    width: 80%;

    .magenta {
        box-shadow: rem(1px) rem(5px) rem(9px) rem(3px) #0000003d;
        background-color: #ae00ff;
        position: absolute;
        width: rem(90px);
        height: rem(90px);
        border-radius: 50%;
        left: rem(-70px);
        top: rem(-10px);
    }
}

.black-rectangle {
    width: rem(150px);
    height: rem(70px);
    background: radial-gradient(rgb(28, 28, 28), #000000);
    position: absolute;
    cursor: move;
    box-shadow: rem(6px) rem(5px) rem(7px) #0000006d;
    border-radius: rem(5px);
    overflow: hidden;
    align-self: flex-end;
    bottom: rem(-70px);

    &:hover {
        &::before {
            transform: rotate(-24deg);
        }
    }

    &::before {
        content: ' ';
        position: absolute;
        width: 120%;
        height: rem(15px);
        transform: rotate(23.6deg);
        top: rem(27px);
        left: rem(-20px);
        background-color: rgb(255, 102, 0);

    }
}