@function rem($size) {
    @return $size / 16px * 1rem;
}

:root {
    --text_default_color: white;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 49, 70);
}

main {
    max-width: rem(300px);
    width: 100%;
}

.magenta {
    background-color: magenta;
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -50px;
}

.rectangle {
    background-color: rgb(238, 238, 118);
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
    // margin: 20px 0;
    top: 10%;
    width: 60vw;
    max-width: 300px;
    position: absolute;
}

.black-rectangle {
    max-width: 30vw;
    width: 20vw;
    max-height: 20vh;
    height: 10vh;
    background-color: black;
    // border: 1px solid wheat;
    position: absolute;

    .line {
        // position: absolute;
        // top: 10px;
        // left: -5px;
        width: 17vw;
        border: 1px solid;
        height: 2vh;
        overflow: auto;
        // transform: rotate(25deg);
        background-color: rgb(255, 60, 0);
    }
}